openapi: 3.1.0
info:
  title: Desirelines API
  description: |
    REST API for serving Strava activity data to the web frontend.

    ## Authentication
    All `/v1/activities` endpoints require Firebase authentication.
    Include `Authorization: Bearer <firebase-token>` header.

    ## Pagination
    The `/v1/activities` list endpoint uses cursor-based pagination.
    Use `next_cursor` from the response to fetch subsequent pages.

    ## Versioning policy
    `/v1/` is **additive-only**: new optional response fields, new endpoints,
    and new optional query params can ship at any time. Existing fields are
    not removed, retyped, or semantically repurposed in place — if a field's
    meaning needs to change, add a new field. The frontend's Zod contracts
    use `.passthrough()` so new fields don't trigger validation errors.

    A truly breaking change (which should be rare on a small app) means
    introducing a new endpoint or, only if there's no other option, a `/v2/`
    surface alongside `/v1/`. No formal sunset policy — the frontend is the
    sole consumer and migrates in lockstep.
  version: 1.0.0
  contact:
    name: Desirelines
    url: https://github.com/andy-esch/desirelines

servers:
  - url: https://desirelines.andyes.ch/api
    description: Production (via Firebase Hosting proxy)
  - url: http://localhost:8080/api
    description: Local development

tags:
  - name: Health
    description: Service health endpoints
  - name: Config
    description: Configuration endpoints
  - name: Activities
    description: Individual activity operations
  - name: Aggregates
    description: Aggregated activity data by year
  - name: Auth
    description: Strava OAuth2 authorization flow

paths:
  /auth/strava:
    get:
      tags: [Auth]
      summary: Initiate Strava OAuth flow
      description: Redirects user to Strava's authorization page with a signed state token
      operationId: authInitiate
      security: []
      responses:
        '302':
          description: Redirect to Strava authorization page
          headers:
            Location:
              schema:
                type: string
              description: Strava authorize URL with client_id, redirect_uri, scope, and state params
  /auth/callback:
    get:
      tags: [Auth]
      summary: Handle Strava OAuth callback
      description: |
        Receives the authorization code from Strava, exchanges it for tokens,
        validates the athlete against the allowlist, stores tokens and profile,
        creates a Firebase custom token, and redirects to the frontend.
      operationId: authCallback
      security: []
      parameters:
        - name: code
          in: query
          description: Authorization code from Strava
          schema:
            type: string
        - name: state
          in: query
          description: Signed state token for CSRF protection
          schema:
            type: string
        - name: error
          in: query
          description: Error code if user denied access
          schema:
            type: string
      responses:
        '302':
          description: Redirect to frontend (success or error page)
          headers:
            Location:
              schema:
                type: string
              description: Frontend URL with token or error code
  /health:
    get:
      tags: [Health]
      summary: Liveness check
      description: Returns 200 if the process is alive. Does not probe dependencies.
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Process is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /ready:
    get:
      tags: [Health]
      summary: Readiness check
      description: Returns 200 if the service is ready to serve traffic, including database connectivity. Returns 503 when the database is unreachable.
      operationId: getReady
      security: []
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is not ready (e.g., database unreachable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /v1/sports/config:
    get:
      tags: [Config]
      summary: Get sport configuration
      description: Returns sport category definitions and Strava type mappings
      operationId: getSportsConfig
      security: []
      responses:
        '200':
          description: Sport configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportsConfig'

  /v1/activities:
    get:
      tags: [Activities]
      summary: List activities
      description: Returns paginated list of activities with optional filters
      operationId: listActivities
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          description: Start date (inclusive)
          schema:
            type: string
            format: date
            example: '2025-01-01'
        - name: to
          in: query
          description: End date (inclusive)
          schema:
            type: string
            format: date
            example: '2025-12-31'
        - name: sport
          in: query
          description: >-
            Filter by sport category. The canonical list of valid values
            is returned by `GET /v1/sports/config` (sourced from
            `schemas/sports/sport_types.json`). Common examples: cycling,
            running, hiking, swimming, yoga, walking. Enum intentionally
            omitted so the spec doesn't go stale when categories are
            added — fetch the live list from the endpoint instead.
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        '200':
          description: List of activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/routes:
    get:
      tags: [Activities]
      summary: Get normalized route geometries
      description: Returns activity routes centered at (0,0) for abstract art visualization
      operationId: getRoutes
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Maximum number of routes to return
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 500
      responses:
        '200':
          description: List of normalized routes
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NormalizedRoute'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/{id}:
    get:
      tags: [Activities]
      summary: Get activity by ID
      description: Returns a single activity by its Strava ID
      operationId: getActivityById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Strava activity ID
          schema:
            type: integer
            format: int64
            example: 12345678901
      responses:
        '200':
          description: Activity details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/{year}/metadata:
    get:
      tags: [Aggregates]
      summary: Get year metadata
      description: Returns aggregate totals for all sports in a given year
      operationId: getYearMetadata
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Year metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YearMetadata'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/{year}/metrics:
    get:
      tags: [Aggregates]
      summary: Get cumulative metrics
      description: Returns cumulative metrics timeseries for a sport in a given year
      operationId: getSportMetrics
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/sport'
      responses:
        '200':
          description: Cumulative metrics timeseries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportMetrics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/{year}/source:
    get:
      tags: [Aggregates]
      summary: Get daily summaries
      description: Returns daily activity summaries for a sport in a given year
      operationId: getDailySummary
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/sport'
      responses:
        '200':
          description: Daily summaries keyed by date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DailySummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Firebase JWT
      description: Firebase ID token

  parameters:
    year:
      name: year
      in: path
      required: true
      description: Year (2000-2050)
      schema:
        type: integer
        minimum: 2000
        maximum: 2050
        example: 2025
    sport:
      name: sport
      in: query
      required: true
      description: >-
        Sport category. The canonical list of valid values is returned by
        `GET /v1/sports/config` (sourced from
        `schemas/sports/sport_types.json`). Common examples: cycling,
        running, hiking, swimming, yoga, walking. Enum intentionally
        omitted so the spec doesn't go stale when categories are
        added — fetch the live list from the endpoint instead.
      schema:
        type: string

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServiceUnavailable:
      description: Database unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      description: |
        Standardized error response envelope returned by all error paths.
        `error` is the only required field; the rest are added when
        available (request ID middleware, active OTel span, structured
        details). All keys are camelCase to match success responses.
      required: [error]
      additionalProperties: false
      properties:
        error:
          type: string
          description: Human-readable error message.
          example: Invalid year format
        code:
          type: string
          description: Machine-readable error code (see apierrors taxonomy).
          example: BAD_REQUEST
        requestId:
          type: string
          description: Server-generated request ID for support correlation.
          example: 01J0X8C0F5H9TZ3K9R8VW3K2QH
        traceId:
          type: string
          description: |
            Raw hex W3C trace ID of the active OTel span (32 lowercase
            hex chars). Omitted when no span is active.
          example: 0af7651916cd43dd8448eb211c80319c
        details:
          type: object
          description: |
            Optional structured context for the error (e.g. validation
            field hints, retry timing). Shape varies by error site; do
            not depend on specific keys.
          additionalProperties: true

    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
        database:
          type: string
          enum: [healthy, unhealthy]

    SportsConfig:
      type: object
      description: Sport category configuration
      additionalProperties:
        $ref: '#/components/schemas/SportCategory'
      example:
        cycling:
          display_name: Cycling
          strava_types: [Ride, VirtualRide, EBikeRide]

    SportCategory:
      type: object
      properties:
        display_name:
          type: string
        strava_types:
          type: array
          items:
            type: string

    Activity:
      type: object
      description: Full activity details
      required: [id, name, type, sport, start_date_local, distance_meters, moving_time_seconds, elapsed_time_seconds]
      properties:
        id:
          type: integer
          format: int64
          description: Strava activity ID
        name:
          type: string
          description: Activity name
        type:
          type: string
          description: Strava activity type (Ride, Run, Yoga, etc.)
        sport:
          type: string
          description: >-
            Categorized sport. See `GET /v1/sports/config` for the full
            list of categories (sourced from
            `schemas/sports/sport_types.json`).
        start_date_local:
          type: string
          format: date-time
          description: Activity start time in local timezone
        distance_meters:
          type: number
          format: double
          description: Distance in meters
        moving_time_seconds:
          type: integer
          description: Moving time in seconds
        elapsed_time_seconds:
          type: integer
          description: Total elapsed time in seconds
        elevation_meters:
          type: number
          format: double
          description: Total elevation gain in meters
        average_speed_mps:
          type: number
          format: double
          description: Average speed in m/s
        max_speed_mps:
          type: number
          format: double
          description: Max speed in m/s
        average_heartrate:
          type: number
          format: double
          description: Average heart rate (bpm)
        max_heartrate:
          type: number
          format: double
          description: Max heart rate (bpm)

    ActivitySummary:
      type: object
      description: Condensed activity for list views
      required: [id, name, type, sport, start_date_local, distance_meters, moving_time_seconds]
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
        type:
          type: string
        sport:
          type: string
        start_date_local:
          type: string
          format: date-time
        distance_meters:
          type: number
          format: double
        moving_time_seconds:
          type: integer
        elevation_meters:
          type: number
          format: double

    ActivityListResponse:
      type: object
      required: [activities, has_more]
      properties:
        activities:
          type: array
          items:
            $ref: '#/components/schemas/ActivitySummary'
        next_cursor:
          type: string
          description: Cursor for fetching next page (base64 encoded)
        has_more:
          type: boolean
          description: Whether more results are available

    YearMetadata:
      type: object
      required: [year, sports, totals, aggregation_version]
      properties:
        year:
          type: integer
        sports:
          type: array
          items:
            type: string
          description: List of sports with activities
        totals:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SportTotals'
        last_updated:
          type: string
          format: date-time
        aggregation_version:
          type: string

    SportTotals:
      type: object
      properties:
        distance_meters:
          type: number
          format: double
        time_minutes:
          type: number
          format: double
        elevation_meters:
          type: number
          format: double
        activities:
          type: integer

    SportMetrics:
      type: object
      required: [timeseries]
      properties:
        timeseries:
          type: array
          items:
            $ref: '#/components/schemas/CumulativeMetricsEntry'

    CumulativeMetricsEntry:
      type: object
      required: [date]
      properties:
        date:
          type: string
          format: date
          description: ISO date (YYYY-MM-DD)
        distance:
          type: number
          format: double
          description: Cumulative distance in meters
        elevation:
          type: number
          format: double
          description: Cumulative elevation in meters
        time:
          type: number
          format: double
          description: Cumulative time in minutes
        activities:
          type: integer
          description: Cumulative activity count

    NormalizedRoute:
      type: object
      required: [activityId, name, sport, distance, date, coords]
      properties:
        activityId:
          type: integer
          format: int64
          description: Strava activity ID
        name:
          type: string
          description: Activity name
        sport:
          type: string
          description: >-
            Categorized sport. See `GET /v1/sports/config` for the full
            list of categories.
        distance:
          type: number
          format: double
          description: Distance in meters
        date:
          type: string
          format: date
          description: Activity date (YYYY-MM-DD)
        coords:
          type: array
          description: Route coordinates centered at (0,0)
          items:
            type: array
            items:
              type: number
              format: double

    DailySummary:
      type: object
      description: Daily summaries keyed by date (YYYY-MM-DD)
      additionalProperties:
        $ref: '#/components/schemas/DailyActivity'

    DailyActivity:
      type: object
      properties:
        distance_meters:
          type: number
          format: double
        time_minutes:
          type: number
          format: double
        elevation_meters:
          type: number
          format: double
        activities:
          type: integer
        activity_ids:
          type: array
          items:
            type: integer
            format: int64
