openapi: 3.1.0
info:
  title: Desirelines API
  description: |
    REST API for serving Strava activity data to the web frontend.

    ## Authentication
    All `/v1/activities` endpoints require Firebase authentication.
    Include `Authorization: Bearer <firebase-token>` header.

    ## Pagination
    The `/v1/activities` list endpoint uses cursor-based pagination.
    Use `next_cursor` from the response to fetch subsequent pages.

    ## Versioning policy
    `/v1/` is **additive-only**: new optional response fields, new endpoints,
    and new optional query params can ship at any time. Existing fields are
    not removed, retyped, or semantically repurposed in place — if a field's
    meaning needs to change, add a new field. The frontend's Zod contracts
    use `.passthrough()` so new fields don't trigger validation errors.

    A truly breaking change (which should be rare on a small app) means
    introducing a new endpoint or, only if there's no other option, a `/v2/`
    surface alongside `/v1/`. No formal sunset policy — the frontend is the
    sole consumer and migrates in lockstep.
  version: 1.0.0
  contact:
    name: Desirelines
    url: https://github.com/andy-esch/desirelines

servers:
  - url: https://desirelines.andyes.ch/api
    description: Production (via Firebase Hosting proxy)
  - url: http://localhost:8080/api
    description: Local development

tags:
  - name: Health
    description: Service health endpoints
  - name: Config
    description: Configuration endpoints
  - name: Activities
    description: Individual activity operations
  - name: Aggregates
    description: Aggregated activity data by year
  - name: Auth
    description: Strava OAuth2 authorization flow

paths:
  /auth/strava:
    get:
      tags: [Auth]
      summary: Initiate Strava OAuth flow
      description: |
        Entry point for login. Redirects to /auth/strava/start on the canonical
        callback origin so the browser-bound state cookie is always minted on
        the host Strava returns to, even when a deployment exposes several
        Firebase Hosting domains. Mints no state and sets no cookie itself.
      operationId: authInitiate
      security: []
      responses:
        '302':
          description: Redirect to the canonical state-minting endpoint
          headers:
            Location:
              schema:
                type: string
              description: Absolute /auth/strava/start URL on the configured callback origin
  /auth/strava/start:
    get:
      tags: [Auth]
      summary: Mint OAuth state and redirect to Strava
      description: |
        Canonical state-minting endpoint. Generates the signed state token,
        binds it to the browser via the __session cookie (the only cookie name
        Firebase Hosting forwards through a Cloud Run rewrite), and redirects to
        Strava's authorization page.
      operationId: authInitiateStart
      security: []
      responses:
        '302':
          description: Redirect to Strava authorization page
          headers:
            Location:
              schema:
                type: string
              description: Strava authorize URL with client_id, redirect_uri, scope, and state params
            Set-Cookie:
              schema:
                type: string
              description: HttpOnly, SameSite=Lax __session cookie carrying the state token
  /auth/callback:
    get:
      tags: [Auth]
      summary: Handle Strava OAuth callback
      description: |
        Receives the authorization code from Strava, exchanges it for tokens,
        validates the athlete against the allowlist, stores tokens and profile,
        creates a Firebase custom token, and redirects to the frontend.
      operationId: authCallback
      security: []
      parameters:
        - name: code
          in: query
          description: Authorization code from Strava
          schema:
            type: string
        - name: state
          in: query
          description: Signed state token for CSRF protection
          schema:
            type: string
        - name: error
          in: query
          description: Error code if user denied access
          schema:
            type: string
      responses:
        '302':
          description: Redirect to frontend (success or error page)
          headers:
            Location:
              schema:
                type: string
              description: Frontend URL with token or error code
  /health:
    get:
      tags: [Health]
      summary: Liveness check
      description: Returns 200 if the process is alive. Does not probe dependencies.
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Process is alive
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /ready:
    get:
      tags: [Health]
      summary: Readiness check
      description: Returns 200 if the service is ready to serve traffic, including database connectivity. Returns 503 when the database is unreachable.
      operationId: getReady
      security: []
      responses:
        '200':
          description: Service is ready
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'
        '503':
          description: Service is not ready (e.g., database unreachable)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthResponse'

  /v1/sports/config:
    get:
      tags: [Config]
      summary: Get sport configuration
      description: Returns sport category definitions and Strava type mappings
      operationId: getSportsConfig
      security: []
      responses:
        '200':
          description: Sport configuration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SportsConfig'

  /v1/activities:
    get:
      tags: [Activities]
      summary: List activities
      description: Returns paginated list of activities with optional filters
      operationId: listActivities
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          description: Start date (inclusive)
          schema:
            type: string
            format: date
            example: '2025-01-01'
        - name: to
          in: query
          description: End date (inclusive)
          schema:
            type: string
            format: date
            example: '2025-12-31'
        - name: sports
          in: query
          description: >-
            Filter by sport categories, comma-separated (max 20; absent means
            all sports; an unknown category is a 400). The canonical list of
            valid values is returned by `GET /v1/sports/config` (sourced from
            `schemas/sports/sport_types.json`). Common examples: cycling,
            running, hiking, swimming, yoga, walking. Enum intentionally
            omitted so the spec doesn't go stale when categories are
            added — fetch the live list from the endpoint instead.
          schema:
            type: string
            example: 'cycling,running'
        - name: limit
          in: query
          description: Maximum results per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: cursor
          in: query
          description: Pagination cursor from previous response
          schema:
            type: string
      responses:
        '200':
          description: List of activities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivityListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/summary:
    get:
      tags: [Activities]
      summary: Monthly activity aggregate
      description: >-
        Returns (month × sport × geographic) buckets with summed measures for
        the charts view, aggregated in SQL. Geographic classification uses the
        full predicate (no trainer/manual flag, not a Virtual type, and stored
        route geometry exists), not region tagging. Buckets are keyed by sport
        category and sorted by month, then sport, then geographic (false
        before true).
      operationId: getActivitySummary
      security:
        - bearerAuth: []
      parameters:
        - name: from
          in: query
          description: Start date (inclusive)
          schema:
            type: string
            format: date
            example: '2025-01-01'
        - name: to
          in: query
          description: End date (inclusive)
          schema:
            type: string
            format: date
            example: '2025-12-31'
        - name: sports
          in: query
          description: >-
            Filter by sport categories, comma-separated (max 20; absent means
            all sports; an unknown category is a 400). Same semantics as the
            activities list endpoint.
          schema:
            type: string
            example: 'cycling,running'
      responses:
        '200':
          description: Monthly activity buckets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregateActivitiesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/map/regions:
    get:
      tags: [Activities]
      summary: Per-region activity summary for the map viewport
      description: >
        Returns each region the user has activities in, with the activity count
        and the region's bounding box, sorted by count descending so the client
        can default the routes-map viewport to the densest region.
      operationId: getMapRegions
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Region summaries, densest first
          content:
            application/json:
              schema:
                type: object
                properties:
                  regions:
                    type: array
                    items:
                      $ref: '#/components/schemas/RegionSummary'
                  # Region to fit the map to on load — the densest region of the
                  # highest-priority kind (metro CBSA > micro CBSA > county >
                  # earth). Omitted when the user has no geo-bearing activities.
                  defaultViewport:
                    $ref: '#/components/schemas/RegionSummary'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/map/tiles.json:
    get:
      tags: [Activities]
      summary: TileJSON metadata for the routes-map vector tiles
      description: >
        Returns a TileJSON 3.0.0 document describing the routes-map vector tiles:
        the tile URL template (relative to this endpoint, so it stays correct behind
        the deployment's path prefix), min/max zoom, and per-layer zoom ranges (the
        "routes" layer's minzoom is the level-of-detail handoff, z8). The client
        sources its zoom levels from here instead of hardcoding them; it builds its
        own origin-aware tile URL (Firebase Hosting rewrites), so it reads only the
        zoom levels from this document, not the tiles template.
      operationId: getMapTileJSON
      security:
        - bearerAuth: []
      responses:
        '200':
          description: TileJSON 3.0.0 metadata document
          content:
            application/json:
              schema:
                type: object
                required: [tilejson, tiles, minzoom, maxzoom, vector_layers]
                properties:
                  tilejson:
                    type: string
                    example: '3.0.0'
                  name:
                    type: string
                  scheme:
                    type: string
                    example: xyz
                  tiles:
                    type: array
                    items:
                      type: string
                  minzoom:
                    type: integer
                    example: 0
                  maxzoom:
                    type: integer
                    example: 14
                  bounds:
                    type: array
                    items:
                      type: number
                    minItems: 4
                    maxItems: 4
                  center:
                    type: array
                    items:
                      type: number
                    minItems: 3
                    maxItems: 3
                  vector_layers:
                    type: array
                    items:
                      type: object
                      required: [id, minzoom, maxzoom]
                      properties:
                        id:
                          type: string
                        minzoom:
                          type: integer
                        maxzoom:
                          type: integer
                        fields:
                          type: object
                          additionalProperties:
                            type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/map/tiles/{z}/{x}/{y}:
    get:
      tags: [Activities]
      summary: Activity routes as a Mapbox Vector Tile
      description: >
        Returns the user's real-world activity routes for the given tile as a
        Mapbox Vector Tile (ST_AsMVT). Only geo-bearing activities (those tagged
        to >=1 region) are included; virtual/indoor activities are excluded. An
        empty-but-valid tile is returned when the tile has no features.


        Level-of-detail by zoom, with a handoff at z8. At z >= 8 the tile carries a
        "routes" layer of zoom-simplified route linestrings (ST_Simplify scaled to
        the tile resolution; full fidelity by z14) with properties activity_id,
        name, sport, distance and date. At z < 8 it instead carries a "route_points"
        layer of grid-binned density points — one point per grid cell per sport —
        with properties activity_count and sport, which the client sizes by count
        for a zoomed-out overview.


        sport is the raw Strava sport_type (the client maps it to the app sport
        category). maxzoom is 14; the client overzooms beyond it.
      operationId: getMapTile
      security:
        - bearerAuth: []
      parameters:
        - name: z
          in: path
          required: true
          description: Tile zoom level (0-22)
          schema:
            type: integer
            minimum: 0
            maximum: 22
        - name: x
          in: path
          required: true
          description: Tile column
          schema:
            type: integer
            minimum: 0
        - name: y
          in: path
          required: true
          description: Tile row
          schema:
            type: integer
            minimum: 0
      responses:
        '200':
          description: A Mapbox Vector Tile (protobuf)
          content:
            application/vnd.mapbox-vector-tile:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/map/dataset:
    get:
      tags: [Activities]
      summary: Full geo-bearing activity dataset for the map cross-filter model
      description: >
        Returns every geo-bearing activity (those tagged to >=1 region) with its
        scalar attributes, aggregated region tag ids, and an optional per-activity
        bounding box, in a single response. Virtual/indoor activities (no region
        tags) are excluded. Not paginated: the client holds the whole set and
        filters it in-memory to drive the routes-map (setFilter), charts, activity
        list, and region filter. Region ids match GET /v1/activities/map/regions.
      operationId: getMapDataset
      security:
        - bearerAuth: []
      responses:
        '200':
          description: All geo-bearing activities with scalars and region tags
          content:
            application/json:
              schema:
                type: object
                required: [activities]
                properties:
                  activities:
                    type: array
                    items:
                      $ref: '#/components/schemas/MapActivity'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/{id}:
    get:
      tags: [Activities]
      summary: Get activity by ID
      description: Returns a single activity by its Strava ID
      operationId: getActivityById
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Strava activity ID
          schema:
            type: integer
            format: int64
            example: 12345678901
      responses:
        '200':
          description: Activity details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Activity'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/{year}/metadata:
    get:
      tags: [Aggregates]
      summary: Get year metadata
      description: Returns aggregate totals for all sports in a given year
      operationId: getYearMetadata
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/year'
      responses:
        '200':
          description: Year metadata
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/YearMetadata'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/{year}/metrics:
    get:
      tags: [Aggregates]
      summary: Get cumulative metrics
      description: Returns cumulative metrics timeseries for a sport in a given year
      operationId: getSportMetrics
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/sport'
        - $ref: '#/components/parameters/sports'
      responses:
        '200':
          description: >-
            Cumulative metrics. The shape depends on which sport parameter was
            used: `sport` (singular) returns one sport's `SportMetrics`;
            `sports` (plural) returns `AllSportsMetrics`, keyed by category.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/SportMetrics'
                  - $ref: '#/components/schemas/AllSportsMetrics'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

  /v1/activities/{year}/source:
    get:
      tags: [Aggregates]
      summary: Get daily summaries
      description: Returns daily activity summaries for a sport in a given year
      operationId: getDailySummary
      security:
        - bearerAuth: []
      parameters:
        - $ref: '#/components/parameters/year'
        - $ref: '#/components/parameters/sport'
        - $ref: '#/components/parameters/sports'
      responses:
        '200':
          description: >-
            Daily summaries keyed by date. The shape depends on which sport
            parameter was used: `sport` (singular) returns one sport's
            `DailySummary`; `sports` (plural) returns `AllSportsDailySummary`,
            keyed by category.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/DailySummary'
                  - $ref: '#/components/schemas/AllSportsDailySummary'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: Firebase JWT
      description: Firebase ID token

  parameters:
    year:
      name: year
      in: path
      required: true
      description: Year (2000-2050)
      schema:
        type: integer
        minimum: 2000
        maximum: 2050
        example: 2025
    sport:
      name: sport
      in: query
      required: false
      description: >-
        Single sport category. Supply **either** this or `sports` (plural):
        endpoints accepting both require one of the two, and when both are
        present `sports` wins and this is ignored. The canonical list of valid
        values is returned by `GET /v1/sports/config` (sourced from
        `schemas/sports/sport_types.json`). Common examples: cycling,
        running, hiking, swimming, yoga, walking. Enum intentionally
        omitted so the spec doesn't go stale when categories are
        added — fetch the live list from the endpoint instead.
      schema:
        type: string
        example: cycling
    sports:
      name: sports
      in: query
      required: false
      description: >-
        Multiple sport categories, comma-separated — the multi-sport form of
        `sport`, returning one entry per category rather than a single sport's
        data. At most 20 categories; entries are trimmed and empty ones
        skipped; an unknown category fails the whole request with a 400.
        Supply **either** this or `sport`: one of the two is required, and
        `sports` wins if both are sent. Valid values come from
        `GET /v1/sports/config`, as with `sport`.
      schema:
        type: string
        example: cycling,running

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    Unauthorized:
      description: Missing or invalid authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServiceUnavailable:
      description: Database unavailable
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'

  schemas:
    Error:
      type: object
      description: |
        Standardized error response envelope returned by all error paths.
        `error` is the only required field; the rest are added when
        available (request ID middleware, active OTel span, structured
        details). All keys are camelCase to match success responses.
      required: [error]
      additionalProperties: false
      properties:
        error:
          type: string
          description: Human-readable error message.
          example: Invalid year format
        code:
          type: string
          description: Machine-readable error code (see apierrors taxonomy).
          example: BAD_REQUEST
        requestId:
          type: string
          description: Server-generated request ID for support correlation.
          example: 01J0X8C0F5H9TZ3K9R8VW3K2QH
        traceId:
          type: string
          description: |
            Raw hex W3C trace ID of the active OTel span (32 lowercase
            hex chars). Omitted when no span is active.
          example: 0af7651916cd43dd8448eb211c80319c
        details:
          type: object
          description: |
            Optional structured context for the error (e.g. validation
            field hints, retry timing). Shape varies by error site; do
            not depend on specific keys.
          additionalProperties: true

    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [healthy, unhealthy]
        database:
          type: string
          enum: [healthy, unhealthy]

    SportsConfig:
      type: object
      description: Sport category configuration
      additionalProperties:
        $ref: '#/components/schemas/SportCategory'
      example:
        cycling:
          displayName: Cycling
          stravaTypes: [Ride, VirtualRide, EBikeRide]

    SportCategory:
      type: object
      properties:
        displayName:
          type: string
        stravaTypes:
          type: array
          items:
            type: string

    Activity:
      type: object
      description: Full activity details
      required: [id, name, type, sport, startDateLocal, distanceMeters, movingTimeSeconds, elapsedTimeSeconds]
      properties:
        id:
          type: string
          description: >-
            Strava activity ID. Serialized as a **string**: the API marshals
            protobuf `int64` fields as JSON strings (protojson), so this is a
            numeric id in string form.
        name:
          type: string
          description: Activity name
        type:
          type: string
          description: Strava activity type (Ride, Run, Yoga, etc.)
        sport:
          type: string
          description: >-
            Categorized sport. See `GET /v1/sports/config` for the full
            list of categories (sourced from
            `schemas/sports/sport_types.json`).
        startDateLocal:
          type: string
          format: date-time
          description: Activity start time in local timezone
        distanceMeters:
          type: number
          format: double
          description: Distance in meters
        movingTimeSeconds:
          type: integer
          description: Moving time in seconds
        elapsedTimeSeconds:
          type: integer
          description: Total elapsed time in seconds
        elevationMeters:
          type: number
          format: double
          description: Total elevation gain in meters
        averageSpeedMps:
          type: number
          format: double
          description: Average speed in m/s
        maxSpeedMps:
          type: number
          format: double
          description: Max speed in m/s
        averageHeartrate:
          type: number
          format: double
          description: Average heart rate (bpm)
        maxHeartrate:
          type: number
          format: double
          description: Max heart rate (bpm)

    ActivitySummary:
      type: object
      description: Condensed activity for list views
      required: [id, name, type, sport, startDateLocal, distanceMeters, movingTimeSeconds, hasRoute]
      properties:
        id:
          type: string
          description: >-
            Strava activity ID. Serialized as a **string**: the API marshals
            protobuf `int64` fields as JSON strings (protojson), so this is a
            numeric id in string form.
        name:
          type: string
        type:
          type: string
        sport:
          type: string
        startDateLocal:
          type: string
          format: date-time
        distanceMeters:
          type: number
          format: double
        movingTimeSeconds:
          type: integer
        elevationMeters:
          type: number
          format: double
        hasRoute:
          type: boolean
          description: >-
            True when the activity is tagged to >=1 region and thus appears on
            the routes map (same inclusion rule as GET /activities/map/dataset).
            Indoor/virtual activities are false. Drives the "view on map"
            affordance in list views.

    ActivityListResponse:
      type: object
      required: [activities, hasMore]
      properties:
        activities:
          type: array
          items:
            $ref: '#/components/schemas/ActivitySummary'
        nextCursor:
          type: string
          description: Cursor for fetching next page (base64 encoded)
        hasMore:
          type: boolean
          description: Whether more results are available

    ActivityBucket:
      type: object
      required: [month, sport, geographic, count, movingTimeSeconds, distanceMeters]
      properties:
        month:
          type: string
          description: Calendar month "YYYY-MM" in the athlete's local time
          example: '2025-07'
        sport:
          type: string
          description: App sport category (running, cycling, yoga)
        geographic:
          type: boolean
          description: >-
            True when the activity group has real-world geography (no
            trainer/manual/Virtual markers and stored route geometry exists)
        count:
          type: integer
          description: Number of activities in the group
        movingTimeSeconds:
          type: integer
          description: Summed moving time in seconds
        distanceMeters:
          type: number
          description: Summed distance in meters (zero for distance-less sports)

    AggregateActivitiesResponse:
      type: object
      required: [buckets]
      properties:
        buckets:
          type: array
          items:
            $ref: '#/components/schemas/ActivityBucket'

    YearMetadata:
      type: object
      required: [year, sports, totals, aggregationVersion]
      properties:
        year:
          type: integer
        sports:
          type: array
          items:
            type: string
          description: List of sports with activities
        totals:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/SportTotals'
        lastUpdated:
          type: string
          format: date-time
        aggregationVersion:
          type: string

    SportTotals:
      type: object
      properties:
        distanceMeters:
          type: number
          format: double
        timeMinutes:
          type: number
          format: double
        elevationMeters:
          type: number
          format: double
        activities:
          type: integer

    SportMetrics:
      type: object
      required: [timeseries]
      properties:
        timeseries:
          type: array
          items:
            $ref: '#/components/schemas/CumulativeMetricsEntry'

    AllSportsMetrics:
      type: object
      description: >-
        Multi-sport cumulative metrics, returned when the request used
        `?sports=` (plural). One entry per requested category.
      required: [bySport]
      properties:
        bySport:
          type: object
          description: Cumulative metrics keyed by sport category (e.g. "cycling").
          additionalProperties:
            $ref: '#/components/schemas/SportMetrics'

    AllSportsDailySummary:
      type: object
      description: >-
        Multi-sport daily summaries, returned when the request used `?sports=`
        (plural). One entry per requested category.
      required: [bySport]
      properties:
        bySport:
          type: object
          description: Daily summaries keyed by sport category (e.g. "cycling").
          additionalProperties:
            $ref: '#/components/schemas/DailySummary'

    CumulativeMetricsEntry:
      type: object
      required: [date]
      properties:
        date:
          type: string
          format: date
          description: ISO date (YYYY-MM-DD)
        distance:
          type: number
          format: double
          description: Cumulative distance in meters
        elevation:
          type: number
          format: double
          description: Cumulative elevation in meters
        time:
          type: number
          format: double
          description: Cumulative time in minutes
        activities:
          type: integer
          description: Cumulative activity count

    RegionSummary:
      type: object
      required: [regionId, name, kind, activityCount, bbox]
      properties:
        regionId:
          type: integer
          format: int64
          description: Region ID (desirelines.regions.id)
        name:
          type: string
          description: Region display name (e.g. "Boston-Cambridge-Newton, MA-NH")
        kind:
          type: string
          description: >-
            Region class: cbsa_metro, cbsa_micro, county, or global (the builtin
            "earth" catch-all).
        activityCount:
          type: integer
          description: Number of the user's activities that fall in this region
        bbox:
          type: array
          description: Region bounding box [minLng, minLat, maxLng, maxLat]
          minItems: 4
          maxItems: 4
          items:
            type: number
            format: double

    MapActivity:
      type: object
      description: >-
        A single geo-bearing activity for the routes-map cross-filter dataset:
        scalar attributes plus the region tag ids it belongs to.
      required: [activityId, name, sport, distanceMeters, movingTime, startDateLocal, regionIds]
      properties:
        activityId:
          type: string
          description: >-
            Strava activity ID. Serialized as a **string**: the API marshals
            protobuf `int64` fields as JSON strings (protojson), so this is a
            numeric id in string form.
        name:
          type: string
          description: Activity name/title
        sport:
          type: string
          description: App sport category (e.g. cycling, running)
        distanceMeters:
          type: number
          format: double
        movingTime:
          type: integer
          description: Moving time in seconds
        elevationMeters:
          type: number
          format: double
          description: Elevation gain in meters (nullable)
        startDateLocal:
          type: string
          format: date-time
          description: Local start time (athlete local time)
        regionIds:
          type: array
          description: >-
            Region ids this activity is tagged to. Same ids as
            GET /v1/activities/map/regions returns.
          items:
            type: string
        bbox:
          type: array
          description: >-
            Optional per-activity bounding box [minLng, minLat, maxLng, maxLat]
            from the route geometry. Absent when the activity has no stored route.
          minItems: 4
          maxItems: 4
          items:
            type: number
            format: double

    DailySummary:
      type: object
      description: Daily summaries keyed by date (YYYY-MM-DD)
      additionalProperties:
        $ref: '#/components/schemas/DailyActivity'

    DailyActivity:
      type: object
      properties:
        distanceMeters:
          type: number
          format: double
        timeMinutes:
          type: number
          format: double
        elevationMeters:
          type: number
          format: double
        activities:
          type: integer
        activityIds:
          type: array
          items:
            type: string
